[hidden] {
  display: none;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
body,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
legend,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: underline;
  word-wrap: break-word;
  color: #1923ff;
}
a:active,
a:hover {
  outline-width: 0;
}
a:focus {
  outline: dotted thin;
}
b,
strong,
table caption,
table th {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
iframe,
object {
  border: none;
}
img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 100%;
}
a:hover,
ins {
  text-decoration: none;
}
ol li {
  list-style-type: decimal;
}
blockquote p:last-child,
li ol,
li ul {
  margin-bottom: 0;
}
pre {
  font-family: monospace;
  margin-top: 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
svg {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
button,
svg:root {
  overflow: visible;
}
fieldset {
  border: none;
  min-width: 0;
}
legend {
  border: 0;
  display: block;
  font-weight: 700;
  line-height: inherit;
}
input {
  box-shadow: none;
}
button,
input,
label,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
[role="button"],
button,
input,
label,
select,
textarea {
  font-size: 100%;
  line-height: inherit;
  vertical-align: top;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  outline: 0;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  vertical-align: baseline;
}
label {
  display: inline-block;
}
label[for] {
  cursor: pointer;
}
textarea {
  line-height: normal;
  overflow: auto;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  width: 100%;
}
table caption,
table td,
table th {
  background: 0 0;
  text-align: left;
  vertical-align: top;
}
table caption {
  margin: 0;
}
address,
dl,
fieldset,
figure,
h1,
h2,
h3,
hr,
legend,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1.5rem;
}
blockquote {
  margin: 1.5rem 0 1.5rem 1em;
}
body {
  font: 400 1rem/1.667 Arial;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  color: #fff;
  overflow-x: hidden;
}
small {
  font-size: 70%;
}
sup {
  top: -0.375em;
}
h1,
h2 {
  line-height: 1.44445;
}
h4,
h5,
h6 {
  font-size: 1em;
}
.grid {
  display: flex;
  width: 100%;
}
.grid--center {
  align-items: center;
}
.grid__column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
.grid--equal .grid__column {
  flex-basis: 50%;
  flex-grow: 0;
}
.grid__row {
  width: 100%;
}
img.portrait {
  max-height: 100%;
  width: auto;
}
.figure > a:not(.figure__holder) {
  display: inline-block;
}
.figure--placeholder {
  background-color: #ebebeb;
}
.figure__holder {
  display: block;
  height: 100%;
  position: relative;
}
.figure--cover {
  height: 100%;
}
.figure--ratio {
  height: auto !important;
}
.figure--ratio .figure__holder {
  height: 0;
  margin-bottom: -1px;
  overflow: hidden;
  padding-bottom: 100%;
}
.figure--ratio-4-3 .figure__holder {
  padding-bottom: 75%;
}
.figure--ratio-3-2 .figure__holder {
  padding-bottom: 66.66667%;
}
.figure--ratio-16-9 .figure__holder {
  padding-bottom: 56.25%;
}
.figure--ratio-9-16 .figure__holder {
  padding-bottom: 177.77778%;
}
.figure--ratio img {
  left: 0;
  position: absolute;
  top: 0;
}
.figure--squared {
  height: auto !important;
}
.figure--squared .figure__holder {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}
.figure--squared img {
  left: 0;
  position: absolute;
  top: 0;
}
.figure--cover img {
  height: 100%;
  max-height: none;
  max-width: none;
  object-fit: cover;
  width: 100%;
}
.figure--rounded {
  border-radius: 50%;
}
.objectfit .figure--cover:not(.figure--ratio):not(.figure--squared) img {
  position: static;
}
.no-objectfit .figure--cover img:not(.portrait) {
  width: auto;
}
.no-objectfit .figure--cover img.portrait {
  height: auto;
}
.figure--centered img,
.figure--centered-h img,
.figure--centered-v img {
  margin: auto;
  position: absolute;
}
.figure--centered img {
  bottom: -100%;
  top: -100%;
}
.figure--centered img,
.figure--centered-h img {
  left: -100%;
  right: -100%;
}
.figure--centered-v img {
  bottom: -100%;
  left: 0;
  top: -100%;
}
.figure--art {
  overflow: hidden;
}
.figure--art img {
  transform: translateZ(0);
  -webkit-transform: translateZ(0) scale(1);
  transition: transform 125ms linear;
}
.figure--art .figure__holder:hover img {
  transform: scale(1.045);
  z-index: 2;
}
figcaption {
  font-size: 1em;
}
caption,
td,
th {
  padding: 0.5em;
}
caption {
  border-bottom: 3px solid;
  font-size: 1.25rem;
  text-align: center;
}
dd,
li {
  margin-left: 2em;
}
.button a,
.buttons a,
[role="button"],
button {
  text-align: center;
  text-decoration: none;
}
hr.separator {
  background: 0 0;
  color: none;
  margin-top: -1px;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden !important;
  position: absolute;
  padding: 0;
  width: 1px;
}
svg.hidden {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
}
body.compensate-for-scrollbar {
  overflow: hidden;
}
.fancybox-active {
  height: auto;
}
.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}
.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}
.fancybox-container * {
  box-sizing: border-box;
}
.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden;
  z-index: 99997;
}
.fancybox-show-caption .fancybox-caption,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-nav .fancybox-navigation .fancybox-button,
.fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity 0.25s, visibility;
  visibility: visible;
}
.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fancybox-toolbar {
  right: 0;
  top: 0;
}
.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}
.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}
.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}
.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
  display: block;
}
.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}
.fancybox-slide--image:before {
  display: none;
}
.fancybox-slide--html {
  padding: 6px;
}
.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: 0 0/100% 100% no-repeat;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}
.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}
.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}
.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}
.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.fancybox-container [data-selectable="true"] {
  cursor: text;
}
.fancybox-image,
.fancybox-spaceball {
  background: 0 0;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.fancybox-spaceball {
  z-index: 1;
}
.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}
.fancybox-slide--video .fancybox-content {
  background: #000;
}
.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}
.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}
.fancybox-iframe,
.fancybox-video {
  background: 0 0;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}
.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}
.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}
.fancybox-button,
.fancybox-button:link,
.fancybox-button:visited {
  color: #ccc;
}
.fancybox-button:hover {
  color: #fff;
}
.fancybox-button:focus {
  outline: 0;
}
.fancybox-button.fancybox-focus {
  outline: dotted 1px;
}
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: 0;
}
.fancybox-button div {
  height: 100%;
}
.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}
.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}
.fancybox-button--fsenter svg:nth-child(2),
.fancybox-button--fsexit svg:first-child,
.fancybox-button--pause svg:first-child,
.fancybox-button--play svg:nth-child(2) {
  display: none;
}
.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}
.fancybox-close-small {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}
.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}
.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}
.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}
.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}
.fancybox-navigation .fancybox-button div {
  padding: 7px;
}
.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}
.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}
.fancybox-caption {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.85) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.85%,
    rgba(0, 0, 0, 0.019) 88%,
    transparent
  );
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}
@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right))
      max(25px, env(safe-area-inset-bottom))
      max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}
.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}
.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}
.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}
.fancybox-loading {
  animation: 1s linear infinite fancybox-rotate;
  background: 0 0;
  border: 4px solid;
  border-color: #888 #888 #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}
@keyframes fancybox-rotate {
  to {
    transform: rotate(1turn);
  }
}
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translateZ(0);
}
.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1);
}
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  transform: rotate(-1turn);
}
.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  transform: rotate(1turn);
}
.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  transform: rotate(0);
}
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scaleX(1) translateZ(0);
}
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}
.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}
.fancybox-fx-tube.fancybox-slide--current {
  transform: translateZ(0) scale(1);
}
@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fancybox-slide--image {
    padding: 6px 0;
  }
  .fancybox-close-small {
    right: -6px;
  }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}
.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px;
}
.fancybox-share p {
  margin: 0;
  padding: 0;
}
.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: 0.2s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.fancybox-share__button:link,
.fancybox-share__button:visited {
  color: #fff;
}
.fancybox-share__button:hover {
  text-decoration: none;
}
.fancybox-share__button--fb {
  background: #3b5998;
}
.fancybox-share__button--fb:hover {
  background: #344e86;
}
.fancybox-share__button--pt {
  background: #bd081d;
}
.fancybox-share__button--pt:hover {
  background: #aa0719;
}
.fancybox-share__button--tw {
  background: #1da1f2;
}
.fancybox-share__button--tw:hover {
  background: #0d95e8;
}
.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}
.fancybox-share__button svg path {
  fill: #fff;
}
.fancybox-share__input {
  background: 0 0;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: 0;
  padding: 10px 15px;
  width: 100%;
}
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995;
}
.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}
.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}
.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}
.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}
.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}
.fancybox-thumbs__list a:focus:before {
  opacity: 0.5;
}
.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1;
}
@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(./../../_layout/_fonts/montserrat-regular-webfont.v1623215714000.woff2)
      format("woff2"),
    url(./../../_layout/_fonts/montserrat-regular-webfont.v1623215714000.woff)
      format("woff");
}
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(./../../_layout/_fonts/montserrat-bold-webfont.v1623215714000.woff2)
      format("woff2"),
    url(./../../_layout/_fonts/montserrat-bold-webfont.v1623215714000.woff)
      format("woff");
}
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #00068e;
  font-size: 1rem;
  min-height: 100vh;
}
.wf-active body {
  font-family: Montserrat;
}
body:after {
  content: "";
  transition: background 62.5ms;
}
.is-main-menu-active body:after {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  height: calc(100% + 100px);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
a:focus,
a:hover {
  color: #0f0;
}
a[href^="tel:"] {
  white-space: nowrap;
}
@media only screen and (min-width: 30.001em) {
  a[href^="tel:"] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
}
ul li {
  list-style-type: square;
}
li {
  list-style-position: outside;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-top: 1.5rem;
  background: #d4d6ff;
  border: 0;
  height: 1px;
}
.container {
  box-sizing: border-box;
  padding: 4.5rem 1.5rem;
  width: 100%;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 0.9375rem;
  }
  .container {
    padding: 2rem 1rem;
  }
}
.container__inner {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
@media only screen and (min-width: 85.501em) {
  .container__inner {
    max-width: 87.5rem;
  }
}
@media only screen and (max-height: 40em) {
  .container__inner {
    max-width: 107.692rem;
  }
}
.grid--padded {
  margin-left: -2.25rem;
  margin-right: -2.25rem;
  width: auto;
}
.grid--padded .grid__column {
  box-sizing: border-box;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .grid--padded {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
  .grid--padded .grid__column {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.form {
  text-align: left;
}
.form__fieldset {
  margin-left: 0;
  width: 37.5rem;
}
.form__fieldset--buttons {
  margin-bottom: 0;
}
.page-content--popup .form__fieldset {
  width: 100%;
}
.form__separator {
  background-color: #3e45e8;
  margin-bottom: 2.25rem;
  margin-top: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .form__separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.page-content--popup .form__separator {
  background-color: rgba(0, 0, 0, 0.33);
}
.form__legend {
  color: #0f0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form__input-box {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.form__input-box:last-child {
  margin-bottom: 0;
}
.form__label-box {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 1.5em;
  vertical-align: middle;
  width: 15rem;
}
.form__label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form__label:not(.form__label--option) {
  font-weight: 700;
}
.form__input:not(.form__input--checkbox) {
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  flex-grow: 1;
  line-height: 1;
  padding: 0.8375rem 0.75rem;
  vertical-align: middle;
  width: 65%;
  width: calc(100% - 11.5rem);
}
.page-content--popup .form__input:not(.form__input--checkbox) {
  border: 1px solid #d4d6ff;
}
.form__input:not(.form__input--checkbox):focus {
  box-shadow: 0 0 0 3px rgba(239, 252, 255, 0.65);
  outline: 0;
}
.page-content--popup .form__input:not(.form__input--checkbox):focus {
  box-shadow: 0 0 0 3px rgba(81, 203, 238, 0.5);
}
.form__input--checkbox {
  height: 1.25em;
  margin-right: 0.75rem;
  margin-top: -0.375em;
  vertical-align: middle !important;
  width: 1.25em;
}
.form__input--textarea {
  line-height: 1.5;
  width: 100%;
}
.g-recaptcha {
  display: inline-block;
  margin-bottom: 1.5rem;
  vertical-align: middle;
}
@media only screen and (max-width: 41.25em) {
  .form__fieldset {
    width: 100%;
  }
}
@media only screen and (max-width: 25em) {
  .form__input:not([type="checkbox"]),
  .form__label {
    width: 100% !important;
  }
}
.matteli-group + .content {
  padding-top: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .matteli-group + .content {
    padding-top: 1rem;
  }
}
.services + .content {
  padding-top: 2.25rem;
}
.content__inner {
  margin-bottom: -1.5rem;
}
.content__inner:after {
  clear: both;
  content: "";
  display: table;
}
.content--article .content__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5em;
}
.content h2,
.content h3 {
  font-weight: 700;
  line-height: 1.33334;
}
.content h2 {
  font-size: 2rem;
  margin-bottom: 1.6875rem;
}
.content h2:first-child {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.22223;
  margin-bottom: 2.75rem;
  text-transform: uppercase;
}
.content h2:first-child:before {
  background-image: url(./../../_layout/_www/symbol.v1623267127014.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  flex-shrink: 0;
  height: 80px;
  margin: -0.1875rem 0.5em 0 0;
  width: 52px;
}
.content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.content h4,
.content h5,
.content h6 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
}
.content iframe,
.content object {
  display: block;
  max-width: 100%;
}
.content ol,
.content ul {
  display: flex;
  flex-direction: column;
}
.content li {
  list-style: none;
  margin-left: 2rem;
  position: relative;
}
.content li + li {
  margin-top: 0.5em;
}
.content ul li:before {
  border: 2px solid #0f0;
  border-radius: 50%;
  content: "";
  display: inline-block;
  left: -1.5rem;
  padding: 4px;
  position: absolute;
  top: 6px;
  vertical-align: baseline;
}
.content ol {
  counter-reset: orderedlist;
}
.content ol li {
  position: relative;
  margin-left: 4.5rem;
  min-height: 3.5rem;
}
.content ol li:before {
  align-items: center;
  border: 2px solid #0f0;
  border-radius: 15px 15px 0;
  box-sizing: border-box;
  color: inherit;
  counter-increment: orderedlist;
  content: counter(orderedlist);
  display: flex;
  font-size: 1.75em;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
  margin-left: -4.5rem;
  padding-top: 0.125em;
  position: absolute;
  width: 3rem;
}
.content table {
  background-color: #fff;
  border-collapse: collapse;
}
.content td,
.content th {
  border-bottom: 1px solid #d4d6ff;
  line-height: 1.33334;
  padding: 1rem 1rem 0.875rem;
}
.content tr:last-child td,
.content tr:last-child th {
  border-bottom: 0;
}
.content__date {
  color: #0f0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.25rem;
}
.content__author {
  border-top: 1px solid #3e45e8;
  clear: both;
  font-style: italic;
  margin-top: 2.25rem;
  padding-top: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .services + .content {
    padding-top: 1rem;
  }
  .content__date {
    margin-bottom: 1rem;
  }
  .content__author {
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.content img[style*="float: left"],
.content img[style*="float: right"] {
  max-width: calc(50% - 2.5rem);
}
.content iframe[style*="float: left"],
.content img[style*="float: left"] {
  margin: 0 5rem 1.5rem 0;
}
.content iframe[style*="float: left"] + iframe[style*="float: left"],
.content img[style*="float: left"] + img[style*="float: left"] {
  margin-left: -3.5rem;
}
.content iframe[style*="float: right"],
.content img[style*="float: right"],
.content__thumb {
  margin: 0 0 3rem 5rem;
}
.content__thumb {
  float: right;
  text-align: center;
  width: calc(40% - 2.5rem);
}
.content__thumb img {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  margin-left: auto;
  max-height: 62.5vh;
}
.content__gallery {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.75rem;
}
.content__figure {
  display: flex;
  flex-basis: auto;
  margin: 0.75rem;
}
@media only screen and (max-width: 64em) {
  .content__gallery {
    padding: 0.5rem;
  }
  .content__figure {
    margin: 0.5rem;
  }
}
.content__figure a {
  display: inline-block;
}
.content__figure img {
  max-height: 160px;
  width: auto;
}
.content__table {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
@media only screen and (max-width: 64em) {
  .content__table {
    padding: 1rem;
  }
}
.content__table table {
  margin-bottom: 0;
}
@media only screen and (max-width: 47.5em) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content__date {
    order: -3;
  }
  .content__date + h2,
  .content__thumb + h2 {
    order: -2;
  }
  .content img[style*="float: left"],
  .content img[style*="float: right"],
  .content__thumb {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .content__thumb {
    width: 57.5%;
  }
  .content__thumb img {
    margin-right: auto;
  }
  .content img[style*="float: left"],
  .content img[style*="float: right"] {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    max-width: 57.5%;
  }
}
@media only screen and (max-width: 40em) {
  .content__thumb {
    width: 100%;
  }
  .content img[style*="float: left"],
  .content img[style*="float: right"] {
    max-width: 100%;
  }
}
.buttons {
  display: block;
  font-size: 0.9375em;
  margin: auto -0.5rem -1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content + .buttons,
.items + .buttons {
  margin-top: 3rem;
  text-align: center;
}
.button,
.infobox + .buttons {
  text-align: center;
}
.button {
  align-self: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0f0;
  display: inline-block;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.22223;
  margin: 0;
  overflow: hidden;
  padding: 1em 1.375em 0.875em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 125ms, border-color 125ms, color 125ms;
  vertical-align: middle;
}
.button:focus,
.button:hover {
  background-color: rgba(255, 81, 0, 0.644);
  border-color: rgb(9, 29, 9);
  color: #1923ff;
}
.button[disabled] {
  opacity: 0.5;
}
.buttons .button {
  margin: 0 0.5rem 1rem;
}
.button--primary {
  font-size: 1.125rem;
  font-weight: 700;
}
.button--colorful {
  background-color: #0f0;
  border: 0;
  color: #1923ff;
}
.button--colorful:hover {
  color: #000;
}
.button--simple {
  background: 0 0 !important;
  border: 0;
  color: #1923ff;
  padding: 0;
}
.button--simple:focus,
.button--simple:hover {
  color: #0f0;
}
.button--simple:after {
  background-image: url(./../../_layout/_www/arrow-2.v1623273251674.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 25px 9px;
  content: "";
  display: inline-block;
  height: 9px;
  margin: 0 0 0 0.75rem;
  transition: background-image 62.5ms;
  width: 25px;
}
.button--simple:focus:after,
.button--simple:hover:after {
  background-image: url(./../../_layout/_www/arrow-4.v1623279161399.svg);
}
.button--back {
  background: 0 0 !important;
  border: 0;
  color: #fff;
  padding: 0;
}
.button--back:focus,
.button--back:hover {
  color: #0f0;
}
.button--back:before {
  background-image: url(./../../_layout/_www/arrow-7.v1627249573034.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 25px 9px;
  content: "";
  display: inline-block;
  height: 9px;
  margin: 0 0.75rem 0 0;
  transition: background-image 62.5ms;
  transform: rotate(-180deg);
  width: 25px;
}
.button--back:focus:before,
.button--back:hover:before {
  background-image: url(./../../_layout/_www/arrow-4.v1623279161399.svg);
}
.button--circle {
  background-color: #fff !important;
  background-image: url(./../../_layout/_www/arrow-2.v1623273251674.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
  height: 100px;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  transition: background-image 125ms;
  width: 100px;
}
.button--circle:focus,
.button--circle:hover {
  background-image: url(./../../_layout/_www/arrow-3.v1623273278080.svg);
}
.toggle-button {
  display: none;
  margin-bottom: 0;
  outline: 0;
  position: relative;
  z-index: 1;
}
.toggle-button a {
  align-items: center;
  display: flex;
  line-height: 0.75;
  min-height: 19px;
  padding: 2px 0 0;
  text-decoration: none;
  transition: color 125ms;
}
.toggle-button__ico {
  display: inline-block;
  height: 19px;
  margin: -2px 0.5rem 0 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 26px;
}
.toggle-button__ico span {
  background-color: #1923ff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0);
  transform-origin: right center;
  transition: 0.25s, background-color 125ms;
  width: 26px;
}
.toggle-button__ico span:first-child {
  top: 0;
}
.toggle-button__ico span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}
.toggle-button__ico span:nth-child(3) {
  top: 16px;
}
.toggle-button--active .toggle-button__ico span:first-child,
.toggle-button--active .toggle-button__ico span:nth-child(3) {
  left: -5px;
  width: 30px;
}
.toggle-button--active .toggle-button__ico span:first-child {
  top: -1px;
  transform: rotate(-35deg);
}
.toggle-button--active .toggle-button__ico span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.toggle-button--active .toggle-button__ico span:nth-child(3) {
  top: 17px;
  transform: rotate(35deg);
}
.toggle-button a:focus .toggle-button__ico span,
.toggle-button a:hover .toggle-button__ico span,
.toggle-button--active .toggle-button__ico span {
  background-color: #fff;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -2.5rem -3rem;
  position: relative;
}
.item {
  margin: 0 0 3rem;
  padding: 0 2.5rem;
  vertical-align: top;
  width: 33.33333%;
}
.item,
.item__holder {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.item__holder {
  background-color: #fff;
  color: #000;
  flex-grow: 1;
}
.item__holder--coloured {
  background-color: #0f0;
  color: #1923ff;
}
.item__holder .item__data {
  padding: 1rem;
}
.item__holder > .item__img {
  position: relative;
}
.item__holder > .item__img figure {
  margin: 0;
}
.item__ico {
  background-color: #0f0;
  border-radius: 50%;
  height: 4.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  width: 4.5rem;
}
.item__ico:before {
  background-image: url(./../../_layout/_www/symbol-3.v1623282202124.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 94% auto;
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.item__ico--misc-01:before {
  background-image: url(./../../_layout/_www/ico-misc-01.v1626888712214.svg);
  background-size: 80% auto;
}
.item__ico--misc-02:before {
  background-image: url(./../../_layout/_www/ico-misc-02.v1627246584069.svg);
  background-size: 80% auto;
}
.item__ico--misc-03:before {
  background-image: url(./../../_layout/_www/ico-misc-03.v1627246566346.svg);
  background-size: 78% auto;
}
.item__ico--misc-04:before {
  background-image: url(./../../_layout/_www/ico-misc-04.v1627247172725.svg);
  background-size: 72% auto;
}
.item__ico--misc-05:before {
  background-image: url(./../../_layout/_www/ico-misc-05.v1627246614575.svg);
  background-size: 86% auto;
}
.item__ico--misc-06:before {
  background-image: url(./../../_layout/_www/ico-misc-06.v1627246630629.svg);
  background-size: 74% auto;
}
.item__ico--misc-07:before {
  background-image: url(./../../_layout/_www/ico-misc-07.v1627246643837.svg);
  background-size: 66% auto;
}
.item__ico--misc-08:before {
  background-image: url(./../../_layout/_www/ico-misc-08.v1627246656776.svg);
  background-size: 74% auto;
}
.item__ico--misc-09:before {
  background-image: url(./../../_layout/_www/ico-misc-09.v1627246671790.svg);
  background-size: 56% auto;
}
.item__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.44445;
  margin-bottom: 1rem;
}
.item__title:last-child {
  margin-bottom: 0;
}
.item__title a {
  color: inherit;
  text-decoration: none;
  transition: color 125ms;
}
.item__title a:focus,
.item__title a:hover {
  color: inherit;
}
.item__text {
  font-size: 0.9375rem;
  margin-bottom: 0;
}
.item__text--rich {
  margin-bottom: -1.5rem;
}
.item__button {
  color: #1923ff;
}
.page-title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.11112;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.page-content--popup .page-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.section-title {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.22223;
  margin-bottom: 2.75rem;
  text-transform: uppercase;
}
.section-title:before {
  background-image: url(./../../_layout/_www/symbol.v1623267127014.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  flex-shrink: 0;
  height: 80px;
  margin: -0.1875rem 0.5em 0 0;
  width: 52px;
}
.section-subtitle {
  color: #fff;
  font-size: 1.625rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.22223;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
img[data-loaded] {
  animation: 125ms imagePreloader;
}
.no-js img[data-lazyload] {
  display: none;
}
.fancybox-is-open .fancybox-bg {
  opacity: 0.75;
}
.fancybox-thumbs {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3px;
}
.fancybox-thumbs > ul > li {
  border: 0;
  margin: 1px;
}
.fancybox-thumbs > ul > li:before {
  border-color: #1923ff;
  border-width: 3px;
  border-radius: 0;
}
.fancybox-close-small:after {
  border-radius: 0;
}
.infobox {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 3rem;
  padding: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 64em) {
  .infobox {
    padding: 1rem;
  }
}
.infobox__error {
  color: red;
}
.infobox__error a {
  color: #fff;
}
.tracking {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
}
@keyframes up-n-down {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem);
  }
  60% {
    transform: translateY(-0.5rem);
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes imagePreloader {
  0% {
    -webkit-filter: blur(25px);
    filter: blur(25px);
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
.page-layout--page {
  background-image: url(./../../_layout/_www/bg.v1627250927253.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.webp .page-layout--page {
  background-image: url(./../../_layout/_www/bg.v1629879615728.webp);
}
.topbar {
  font-size: 0.8125rem;
  height: calc(47px + 3rem);
  padding: 1.5rem;
  position: absolute;
  transition: height 125ms;
  z-index: 3;
}
@media only screen and (max-width: 64em) {
  .topbar {
    padding: 1rem;
    height: calc(47px + 2.5rem);
  }
}
.is-main-menu-active .topbar {
  height: 100%;
}
.site-logo {
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.is-main-menu-active .site-logo {
  opacity: 0.12;
}
.site-logo__holder {
  border: 0;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}
.site-logo a {
  display: block;
  text-decoration: none;
}
.site-logo img {
  height: 47px;
  transition: 125ms;
  width: auto;
}
@media only screen and (max-width: 41.25em) {
  .site-logo {
    margin-right: auto;
  }
  .site-logo img {
    height: auto;
    transition: 125ms;
    width: 40vw;
  }
  .quick-contacts {
    display: none;
  }
}
.quick-contacts {
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 64em) {
  .quick-contacts {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
.is-main-menu-active .quick-contacts {
  opacity: 0.12;
}
.quick-contacts__value {
  color: #fff;
  margin: 0;
}
.quick-contacts__value + .quick-contacts__value {
  margin-top: 0.5em;
}
.quick-contacts__value a {
  color: #fff;
}
.main-menu {
  align-items: center;
  flex-grow: 0;
  justify-content: flex-end;
  line-height: 1.33334;
  text-align: right;
  text-transform: uppercase;
  z-index: 3;
}
.main-menu__items {
  display: flex;
  list-style: none;
  margin: 0;
}
.main-menu__item {
  align-items: center;
  display: flex;
  margin: 0 0.125rem;
  white-space: nowrap;
}
.main-menu__item a {
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  position: relative;
  padding: 0.75rem 1rem 0.625rem;
  text-align: center;
  text-decoration: none;
  transition: color 125ms;
}
.main-menu__item a:focus,
.main-menu__item a:hover,
.main-menu__item--active a {
  color: #0f0;
}
.main-menu__bubble {
  align-items: center;
  background-color: #0f0;
  border-radius: 50%;
  box-sizing: border-box;
  color: #1923ff;
  display: flex;
  font-size: 0.9375em;
  height: 1.375em;
  justify-content: center;
  line-height: 1;
  padding-top: 0.1875em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.375em;
}
@media only screen and (max-width: 77.5em) {
  .main-menu__toggle-button {
    display: inline-block;
    z-index: 10;
  }
  .main-menu__toggle-button a,
  .main-menu__toggle-button a:focus,
  .main-menu__toggle-button a:hover {
    color: #fff;
  }
  .is-main-menu-active .main-menu__toggle-button a {
    color: #a3a3a3 !important;
  }
  .main-menu__toggle-button .toggle-button__ico span,
  .main-menu__toggle-button a:focus .toggle-button__ico span,
  .main-menu__toggle-button a:hover .toggle-button__ico span {
    background-color: #fff;
  }
  .is-main-menu-active .main-menu__toggle-button .toggle-button__ico span {
    background-color: #a3a3a3 !important;
  }
  .main-menu__items {
    align-items: center;
    background-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 50vw;
    justify-content: flex-start;
    left: auto;
    padding: 6.25rem 0 1.5rem;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    transform: translateX(100%);
    transition: transform 125ms;
    z-index: 6;
  }
  .is-main-menu-active .main-menu__items {
    transform: translateX(0);
  }
  .main-menu__item a {
    color: #1923ff;
  }
}
.languages {
  flex-grow: 0;
  margin-left: 3rem;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 64em) {
  .languages {
    margin-left: 2rem;
  }
}
.languages__toggler {
  margin: 0;
}
.languages__link {
  color: #1923ff;
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.languages__link:focus,
.languages__link:hover {
  color: #0f0;
}
.languages__link--current {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 0.75em;
  transition: border-color 125ms;
}
.languages:focus .languages__link--current,
.languages:hover .languages__link--current,
.languages__link--current:focus,
.languages__link--current:hover {
  border: 1px solid #0f0;
  color: #fff;
}
.languages__link--current:after {
  border: solid #0f0;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: -9px;
  padding: 3px;
  transform: rotate(45deg);
  transition: border-color 125ms;
  vertical-align: middle;
}
.languages:hover .languages__link--current:after {
  border-color: #fff;
}
.languages__wrapper {
  opacity: 0;
  padding: 1px 0 0;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-500%);
  transition: opacity 0.25s;
  width: 100%;
  z-index: -1;
}
.languages:hover .languages__wrapper {
  opacity: 1;
  transform: none;
  z-index: 3;
}
.languages--responsive .languages__wrapper {
  transition: none;
}
.languages__items {
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.languages__item {
  display: block;
  list-style: none;
  margin: 0;
}
.languages__item + .languages__item {
  border-top: 1px solid #d4d6ff;
}
@media only screen and (max-width: 77.5em) {
  .languages {
    display: none;
  }
}
.page-header__data:last-child {
  text-align: center;
}
.page-header__data:not(:last-child) {
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 4.5rem;
  padding-top: 3rem;
  width: 50%;
}
.page-header__title {
  margin: 0;
}
.page-header__perex {
  font-size: 1.25rem;
  margin: 1.75rem 0 0;
}
.page-header__data:last-child .page-header__perex {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}
.page-header__perex + .page-header__form {
  margin-top: 2.25rem;
}
.page-header__figure img {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.page-header__button {
  margin-bottom: 0;
  margin-top: 2.25rem;
}
.page-content {
  background-image: url(./../../_layout/_www/gradient-right.v1623266981568.svg),
    url(./../../_layout/_www/gradient-left.v1623266969596.svg),
    url(./../../_layout/_www/symbol-2.v1623412033019.svg);
  background-position: right 25vh, left 87vh, left 69vh;
  background-repeat: repeat-y, repeat-y, no-repeat;
  background-size: 37.5% 125vh, 32.5% 125vh, 33% auto;
  overflow: hidden;
}
.page-content--popup {
  background: #fff;
  color: #000;
  max-height: 90vh;
  max-width: 90vw;
}
.page-content--modal {
  padding: 2.5rem 1.5rem;
}
.main-content {
  position: relative;
  z-index: 2;
}
.main-content__header {
  padding-top: calc(7.5rem + 47px);
  padding-bottom: 0;
}
@media only screen and (max-width: 64em) {
  .page-header__data:not(:last-child) {
    padding-top: 2rem;
    padding-right: 2rem;
  }
  .page-header__button,
  .page-header__perex + .page-header__form {
    margin-top: 1rem;
  }
  .main-content__header {
    padding-top: calc(7.5rem + 47px);
  }
}
.main-content__body {
  position: relative;
  z-index: 2;
}
.main-content__column {
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}
.main-content__column--side {
  align-items: flex-start;
  flex-basis: 18.75rem;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 4.5rem;
  order: -1;
}
.perex {
  background-image: url(./../../_layout/_www/header.v1623176717642.jpg);
  background-color: #141414;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  box-sizing: border-box;
  height: 0;
  padding: 0 0 57.5rem;
  position: relative;
  z-index: 0;
}
.webp .perex {
  background-image: url(./../../_layout/_www/header.v1629879615899.webp);
}
.perex:before {
  background-color: #1923ff;
  mix-blend-mode: multiply;
}
.perex:after,
.perex:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.perex:after {
  background-image: url(./../../_layout/_www/header.v1623176717642.jpg);
  background-color: #141414;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-mask-image: url(../../_layout/_www/symbol-3.svg);
  -webkit-mask-position: min(135%, 41vw) 110%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: auto max(40vh, 82.5%);
  mask-image: url(../../_layout/_www/symbol-3.svg);
  mask-position: min(135%, 41vw) 110%;
  mask-repeat: no-repeat;
  mask-size: auto max(40vh, 82.5%);
}
@media only screen and (max-width: 105em) {
  .perex:after {
    -webkit-mask-size: max(1100px, 70%) auto;
    mask-size: max(1100px, 70%) auto;
  }
}
@media only screen and (max-width: 85.5em) {
  .perex:after {
    -webkit-mask-size: 85vw auto;
    mask-size: 85vw auto;
  }
}
@media only screen and (max-width: 105em) {
  .perex:after {
    -webkit-mask-size: max(1100px, 70%) auto;
  }
}
@media only screen and (max-width: 85.5em) {
  .perex:after {
    -webkit-mask-size: 85vw auto;
  }
}
.webp .perex:after {
  background-image: url(./../../_layout/_www/header.v1629879615899.webp);
}
.perex__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  padding: calc(4.5rem + 47px) 1.5rem 9.75rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 64em) {
  .perex__container {
    padding: calc(4.5rem + 47px) 1rem 7.25rem;
  }
}
.perex__wrapper {
  padding: 0 50% 0 0;
}
.perex__motto {
  margin-top: 1.875rem;
  width: 189px;
}
.perex__motto:before {
  background-image: url(./../../_layout/_www/motto-2.v1629386892851.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 0;
  padding-bottom: 49.75%;
  width: 100%;
}
.perex__motto b {
  color: #0f0;
  font-weight: 700;
}
.perex__title {
  font-size: 4.5rem;
  font-size: clamp(2.25rem, 4vw + 1rem, 4.5rem);
  font-weight: 700;
  line-height: 1.11112;
  margin: 0 0 1rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.perex__subtitle,
.perex__title {
  padding: 0;
  text-transform: uppercase;
}
.perex__subtitle {
  color: #0f0;
  font-size: 1.125rem;
  line-height: 1.33334;
  margin: 0 0 1.5rem;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.perex__annotation {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.perex__cta {
  animation: 2.5s infinite up-n-down;
  background-image: url(./../../_layout/_www/arrow.v1623239964367.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 8.25rem;
  display: block;
  height: 38px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  width: 38px;
  z-index: 1;
}
.main-advantages {
  color: #000;
  margin-top: -5.25rem;
  min-height: 10.5rem;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.main-advantages__wrapper {
  background-color: #fff;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.15);
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.main-advantages__items {
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.main-advantages__item {
  align-items: center;
  flex-direction: row;
}
.main-advantages__ico {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-right: 1.5rem;
  height: 72px;
  width: 72px;
}
.main-advantages__title {
  color: #1923ff;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.44445;
  margin-bottom: 0;
  text-transform: uppercase;
}
.main-advantages__description {
  margin: 0;
}
.intro__grid {
  align-items: center;
  margin-bottom: 4.5rem;
}
@media only screen and (max-width: 64em) {
  .perex__cta {
    bottom: 7.25rem;
  }
  .main-advantages__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .intro__grid {
    margin-bottom: 2rem;
  }
}
.intro__column {
  box-sizing: border-box;
  padding: 0 9rem 0 0;
}
@media only screen and (max-width: 64em) {
  .intro__column {
    padding: 0 4rem 0 0;
  }
}
.intro__tracking {
  background: linear-gradient(45deg, #63647b, #1923ff);
  padding: 0;
  position: relative;
}
.intro__tracking:after {
  background-image: url(./../../_layout/_www/tracking-cross.v1627482898361.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50%;
  left: 51%;
  position: absolute;
  top: 26%;
  width: 34%;
}
.intro__tracking-img {
  mix-blend-mode: hard-light;
}
.intro__tracking-card {
  bottom: 3.5rem;
  left: -1.5rem;
  max-width: 360px;
  padding: 0;
  position: absolute;
  width: 100%;
}
.intro__buttons {
  margin-top: 3rem;
}
.tracking-card {
  background-color: #fff;
  background-image: url(./../../_layout/_www/tracking-card.v1623411577803.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 70% auto;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    0 100%,
    0 0,
    calc(100% - 42px) 0,
    100% 42px,
    100% 100%
  );
  clip-path: polygon(0 100%, 0 0, calc(100% - 42px) 0, 100% 42px, 100% 100%);
  color: #000;
  padding: 1.5rem;
  width: 100%;
}
.tracking-card small {
  color: #828282;
  font-size: 0.8125rem;
  font-weight: 400;
}
.tracking-card__id {
  color: #1923ff;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
}
.tracking-card__id small {
  margin-left: 0.5em;
  vertical-align: super;
}
.tracking-card__location {
  font-size: 0.9375rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-right: 3.75rem;
  position: relative;
}
.tracking-card__location:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
}
.tracking-card__location--from:before {
  height: 9px;
  border: 2px solid #1923ff;
  border-radius: 50%;
  margin: 7px 0 0 2px;
  width: 9px;
}
.tracking-card__location--to:before {
  background-image: url(./../../_layout/_www/ico-flag.v1623407595531.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  margin: 4px 0 0;
  width: 13px;
}
.tracking-card__location--from:after {
  border-left: 1px dashed #1923ff;
  content: "";
  height: calc(100% - 3px);
  left: 0.375rem;
  position: absolute;
  top: 22px;
}
.tracking-card__eta {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 6.75rem 0 0;
}
.tracking-card__eta small {
  color: inherit;
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}
.tracking-card__driver {
  bottom: 1.5rem;
  color: #1923ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  position: absolute;
  right: 1.5rem;
  text-align: right;
}
.tracking-card__driver small {
  color: #000;
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}
.guidepost {
  background-color: #0f0;
  color: #000;
  overflow: hidden;
  padding: 0;
}
.guidepost__items {
  margin: 0;
}
.guidepost__item {
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 1.5rem 3rem;
  position: relative;
  width: 50%;
}
.guidepost__item + .guidepost__item {
  background-color: #0f0;
  border-left: 2px solid #1923ff;
  z-index: 2;
}
.guidepost__item:before {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% auto;
  bottom: -0.75rem;
  content: "";
  height: 260px;
  position: absolute;
  right: -1.5rem;
  width: 260px;
}
.guidepost__item--for-senders:before {
  background-image: url(./../../_layout/_www/ico-package.v1623272666346.svg);
  bottom: -5rem;
  right: -2.75rem;
}
.guidepost__item--for-carriers:before {
  background-image: url(./../../_layout/_www/ico-truck.v1623272685410.svg);
  right: 1.5rem;
}
.guidepost__title {
  color: #1923ff;
  font-size: 2rem;
  line-height: 1.11112;
  text-transform: uppercase;
}
.guidepost__title small {
  font-size: 0.9375rem;
  text-transform: none;
}
.guidepost__title a:focus,
.guidepost__title a:hover {
  color: #000;
}
.guidepost__desc {
  margin: 0;
}
.guidepost__button {
  margin-left: 7.5rem;
}
.why-us {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.why-us:before {
  background-image: linear-gradient(
    180deg,
    rgba(0, 6, 142, 0.84) 0,
    transparent 50%,
    #00068e
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.why-us__grid {
  align-items: center;
  position: relative;
  z-index: 1;
}
.why-us__column {
  box-sizing: border-box;
  padding: 2.25rem 9rem 2.25rem 0;
}
@media only screen and (max-width: 64em) {
  .why-us__column {
    padding: 1rem 4rem 1rem 0;
  }
}
.why-us__content {
  margin-bottom: 0;
}
.why-us__motto {
  align-self: flex-end;
  margin-bottom: -3rem;
}
.coverage {
  padding-bottom: 9rem;
  padding-top: 0;
}
.coverage__wrapper {
  margin: 0 auto;
  max-width: 137.5rem;
  min-height: 33.75rem;
  position: relative;
  width: 100%;
}
.coverage__content {
  padding-right: 50%;
  padding-top: 12.5%;
  position: absolute;
  z-index: 1;
}
.coverage__list {
  margin-top: 10rem;
}
.coverage__item {
  list-style-type: none;
  margin-left: 2.5rem;
  position: relative;
}
.coverage__item + .coverage__item {
  margin-top: 1rem;
}
.coverage__item:before {
  content: "";
  left: -2.5rem;
  position: absolute;
  top: 0;
}
.coverage__item--coverage:before {
  background-color: #0f0;
  border-radius: 50%;
  height: 1.25em;
  margin: 2px 0 0 2px;
  width: 1.25em;
}
.coverage__item--our-places:before {
  background-image: url(./../../_layout/_www/pin.v1623422816035.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 28px;
  width: 25px;
}
.coverage__item a {
  color: inherit;
}
.coverage__map-holder {
  position: relative;
  margin-left: auto;
  margin-right: -1.5rem;
  max-width: 83.75rem;
}
.coverage__map-holder:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 80%;
  width: 100%;
}
.coverage__map {
  background-image: url(./../../_layout/_www/map-europe.v1623413978440.svg);
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.coverage__pin {
  bottom: 38.9%;
  height: 39px;
  position: absolute;
  right: 56.5%;
  width: 36px;
  z-index: 3;
}
.coverage__pin:before {
  background-image: url(./../../_layout/_www/spot.v1623427701432.svg);
  content: "";
  height: 28px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  top: 67%;
  width: 28px;
}
.coverage__pin:after {
  background-image: url(./../../_layout/_www/pin.v1623422816035.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: drop-shadow(-5px 6px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-5px 6px 7px rgba(0, 0, 0, 0.5));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.coverage__addon {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 4.5rem;
}
@media only screen and (max-width: 64em) {
  .coverage {
    padding-bottom: 4rem;
  }
  .coverage__map-holder {
    margin-right: -1rem;
  }
  .coverage__addon {
    margin-top: 2rem;
  }
}
.coverage__addon b {
  color: #0f0;
}
@media only screen and (max-width: 103.125em) {
  .coverage__map-holder {
    max-width: 75%;
  }
}
.more-info {
  background-color: #1119d8;
  padding-bottom: 2.25rem;
  padding-top: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .more-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.more-info__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.more-info__title {
  margin: 0.1875em 0 0;
}
.more-info__title:before {
  display: none;
}
.more-info__item {
  width: auto;
}
.more-info__cta {
  background-color: #0f0;
  border-radius: 5px;
  color: #1923ff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  padding: 1em 2em 1em calc(2em + 40px);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 125ms;
}
.more-info__cta:focus,
.more-info__cta:hover {
  color: #000;
}
.more-info__cta:before {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 1em;
  position: absolute;
  top: 0;
  transition: background-image 125ms;
  width: 40px;
}
.more-info__cta--for-senders:before {
  background-image: url(./../../_layout/_www/ico-package-2.v1623429489008.svg);
}
.more-info__cta--for-senders:hover:before {
  background-image: url(./../../_layout/_www/ico-package-3.v1627232699870.svg);
}
.more-info__cta--for-carriers:before {
  background-image: url(./../../_layout/_www/ico-truck-2.v1623429489009.svg);
}
.more-info__cta--for-carriers:hover:before {
  background-image: url(./../../_layout/_www/ico-truck-3.v1627232724625.svg);
}
.more-info__cta small {
  display: inline-block;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.gallery__items {
  margin: 0 -0.75rem -1.5rem;
}
.gallery__item {
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 25%;
}
.gallery__item .figure {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  margin: 0;
}
.figure__caption {
  background-color: hsla(0, 0%, 100%, 0.9);
  box-sizing: border-box;
  bottom: 0;
  color: #000;
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
}
.page-layout--homepage .articles {
  padding-top: 0;
}
.articles__items {
  margin: 0 -0.75rem -1.5rem;
}
.articles__item {
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.articles__items--sublist .articles__item {
  width: 25%;
}
.articles__item .item__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.articles__item .item__data {
  padding: 1.5rem;
}
.articles__item .item__date {
  align-items: center;
  background-color: #0f0;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  height: 5rem;
  line-height: 1.11112;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 5rem;
  z-index: 3;
}
.articles__item .item__date small {
  font-size: 1.25rem;
  font-weight: 400;
}
.articles__item .item__title a:focus,
.articles__item .item__title a:hover {
  color: #1923ff;
}
.articles__item .item__footer {
  justify-content: space-between;
  margin-top: 1.5rem;
}
.articles__item .item__author {
  color: #828282;
  flex-grow: 0;
  margin: 0;
}
.itemlist {
  margin-bottom: -4.5rem;
}
.itemlist--filled {
  margin-bottom: -1.5rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.itemlist__item {
  margin-bottom: 4.5rem;
}
.itemlist--filled .itemlist__item {
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: center;
  width: 25%;
}
.itemlist--big .itemlist__item {
  width: 50%;
}
.itemlist--filled .item__data {
  padding: 1.5rem;
}
.itemlist--filled .item__ico {
  margin: 0 auto 2.5rem;
}
.customer-reviews__items {
  margin-bottom: -5rem;
}
.customer-reviews__item {
  margin-bottom: 5rem;
  width: 100%;
}
.customer-reviews__header,
.customer-reviews__item {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.customer-reviews__header {
  background-color: #fff;
  border-radius: 10px;
  color: #1923ff;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5rem;
  position: relative;
  width: 25%;
}
.customer-reviews__header.active {
  background-color: #0f0;
  color: #000;
}
.customer-reviews__header:after {
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-left: 0.75rem solid #fff;
  margin-right: -0.75rem;
  content: "";
  margin-top: -0.75rem;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 0;
  z-index: 3;
}
.customer-reviews__header.active:after {
  border-left-color: #0f0;
}
.customer-reviews__img {
  flex-shrink: 0;
  margin: 0 1.5rem 0 0;
  width: 80px;
}
.customer-reviews__img .figure {
  border: 8px solid hsla(0, 0%, 100%, 0.5);
  margin: 0;
}
.customer-reviews__name {
  font-size: 0.9375rem;
  font-style: italic;
  margin-bottom: 0;
}
.customer-reviews__position {
  color: #828282;
  font-size: 0.8125rem;
  margin-bottom: 0;
}
.customer-reviews__content {
  font-style: italic;
  margin: 0 5rem 0 10rem;
  position: relative;
}
.customer-reviews__content:before {
  color: #0f0;
  content: "“";
  font-size: 3rem;
  font-weight: 600;
  left: -3rem;
  position: absolute;
  top: -0.375em;
}
.why-fasterrr + .our-office {
  padding-top: 2.25rem;
}
.our-office__box {
  background-color: #fff;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.15);
  color: #000;
  height: 10rem;
  padding: 1.5rem;
}
.our-office--main .our-office__box {
  height: auto;
}
.our-office__items {
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}
.our-office__item {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: auto;
}
.our-office__item .item__title {
  font-size: 1rem;
}
.our-office--main .our-office__item .item__title {
  font-size: 1.25rem;
}
.our-office__item .item__title:before {
  background-image: url(./../../_layout/_www/pin-2.v1626891372590.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 30px;
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 27px;
}
.our-office__item .item__text {
  padding-left: calc(29px + 0.75rem);
}
.our-office__item .item__button {
  align-items: center;
  display: flex;
}
.our-office__item .item__button:before {
  background-image: url(./../../_layout/_www/ico-navi.v1627251982368.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.5em;
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 1.5em;
}
.our-office__item--map {
  align-self: center;
  flex-grow: 1;
  margin-left: auto;
  max-width: 448px;
  position: relative;
  width: auto;
}
.our-office--main .our-office__item--map {
  max-width: 648px;
}
.our-office__map {
  background-image: url(./../../_layout/_www/map-czech-republic.v1626890606800.svg);
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.25));
  content: "";
  height: 0;
  padding-bottom: 57.2%;
  position: absolute;
  right: -1rem;
  top: 0;
  transform: translateY(-50%);
  width: calc(100% + 1rem);
}
.our-office__map-pin {
  bottom: 59.9%;
  height: 30px;
  position: absolute;
  right: 39.5%;
  width: 27px;
  z-index: 3;
}
.our-office__map-pin:before {
  background-image: url(./../../_layout/_www/spot-2.v1627245780560.svg);
  content: "";
  height: 28px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  top: 67%;
  width: 28px;
}
.our-office__map-pin:after {
  background-image: url(./../../_layout/_www/pin-2.v1626891372590.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: drop-shadow(-5px 6px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-5px 6px 7px rgba(0, 0, 0, 0.5));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.sfl__fieldset {
  margin-left: auto;
  margin-right: auto;
}
.sfl__fieldset--recaptcha {
  text-align: center;
}
.sfl .g-recaptcha {
  margin: auto;
}
.sfl__fieldset--buttons {
  text-align: center;
}
.sfl__link,
.sfl__link:hover {
  color: #0f0;
}
.page-content--popup .sfl__link,
.page-content--popup .sfl__link:hover {
  color: #1923ff;
}
.page-header__title + .inquiry {
  margin-top: 4.5rem;
}
.inquiry__title {
  color: #0f0;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.33334;
  text-transform: uppercase;
}
.inquiry__form {
  background-color: #fff;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.15), 0 30px 100px rgba(0, 0, 0, 0.15);
  color: #000;
}
.inquiry__input-group {
  display: flex;
  flex-direction: row;
  width: 59rem;
}
.inquiry__input-box {
  display: block;
  min-height: 4rem;
  position: relative;
  width: 33.33333%;
}
.inquiry__input-box + .inquiry__input-box:before {
  border-left: 1px solid #d4d6ff;
  content: "";
  height: 60%;
  left: 0;
  position: absolute;
  top: 20%;
  z-index: 1;
}
.inquiry__input {
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: inherit;
  left: 0;
  margin: 0;
  padding: 1.5rem 1.5rem 0;
  position: absolute;
  top: auto;
  width: 100%;
}
.inquiry__input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.inquiry__input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.inquiry__input::placeholder {
  opacity: 1;
  transition: 0.2s;
}
.inquiry__input:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.inquiry__input:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}
.inquiry__input:-ms-input-placeholder:not(:focus)::placeholder {
  opacity: 0;
}
.inquiry__input:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.inquiry__input:-ms-input-placeholder:not(:focus) + * {
  top: 50%;
  transform: translateY(-50%);
}
.inquiry__input:placeholder-shown:not(:focus) + * {
  top: 50%;
  transform: translateY(-50%);
}
.inquiry__input:focus {
  outline: 0;
}
.inquiry__input-label {
  box-sizing: border-box;
  cursor: text;
  font-size: 1rem;
  font-weight: 700;
  left: 0;
  max-width: 100%;
  opacity: 1;
  overflow: hidden;
  padding: 0 1.5rem;
  position: absolute;
  text-overflow: ellipsis;
  top: 0.625rem;
  transition: 0.2s;
  white-space: nowrap;
}
.inquiry__st {
  display: none;
}
.inquiry__button {
  align-items: center;
  background-color: #0f0;
  border-radius: 0 5px 5px 0;
  border: 0;
  color: #1923ff;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1;
}
.inquiry__button:focus,
.inquiry__button:hover {
  color: #000;
}
.inquiry__button:before {
  background-image: url(./../../_layout/_www/ico-phone.v1627229633335.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.5em;
  margin-right: 0.75em;
  transition: background-image 125ms;
  width: 1.5em;
}
.inquiry__button:focus:before,
.inquiry__button:hover:before {
  background-image: url(./../../_layout/_www/ico-phone-2.v1627229615971.svg);
}
.inquiry__text {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}
.inquiry__text a {
  color: #0f0;
}
.subscribe__content {
  margin-bottom: 4.5rem;
  text-align: center;
}
.page-content--popup .subscribe__content {
  margin-bottom: 2.25rem;
}
.matteli-group__items {
  align-items: center;
  justify-content: space-evenly;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.matteli-group__item {
  overflow: unset;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: auto;
}
.registration {
  padding-top: 2.25rem;
}
.registration:not(:last-child) {
  padding-bottom: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .why-fasterrr + .our-office {
    padding-top: 1rem;
  }
  .subscribe__content {
    margin-bottom: 2rem;
  }
  .registration {
    padding-top: 1rem;
  }
  .registration:not(:last-child) {
    padding-bottom: 1rem;
  }
}
.registration__box {
  background-color: #0f0;
  box-sizing: border-box;
  color: #1923ff;
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  padding: 1.5rem 3rem;
  position: relative;
}
.registration__box:before {
  background-image: url(./../../_layout/_www/symbol-5.v1627221553549.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: calc(100% + 2em);
  left: 65%;
  position: absolute;
  top: -1.625em;
  width: 145px;
}
.registration__items {
  align-items: center;
  justify-content: space-between;
}
.registration__item {
  width: auto;
}
.registration__item .item__title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  margin-top: -0.625rem;
  text-transform: uppercase;
}
.registration__item .item__title small {
  font-size: 1.125rem;
}
.registration__item .item__text {
  color: #000;
}
.registration__item .button {
  align-items: center;
  background-color: #fff;
  border: 0;
  box-shadow: 0 23px 30px rgba(0, 0, 0, 0.15);
  color: #1923ff;
  display: flex;
  font-weight: 600;
  margin: 0;
}
.registration__item .button:hover {
  background-color: #1923ff;
  color: #fff;
}
.registration__item .button:before {
  background-image: url(./../../_layout/_www/user.v1626892673739.svg);
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-flex;
  height: 2em;
  margin-right: 0.75rem;
  margin-top: -0.125em;
  transition: background-image 125ms;
  vertical-align: middle;
  width: 2em;
}
.registration__item .button:hover:before {
  background-image: url(./../../_layout/_www/user-2.v1626936379002.svg);
}
.main-contacts {
  margin-top: 5.625rem;
}
.main-contacts__items {
  margin-left: -7.5rem;
  margin-right: -7.5rem;
  justify-content: center;
}
.main-contacts__item {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  width: auto;
}
.main-contacts__item + .main-contacts__item {
  border-left: 1px solid #3e45e8;
}
.main-contacts__item .item__title {
  color: #0f0;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
}
.main-contacts__item .item__text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.main-contacts__item .item__text a {
  color: inherit;
}
.contact-persons__department + .contact-persons__department {
  margin-top: 4.5rem;
}
@media only screen and (max-width: 64em) {
  .main-contacts {
    margin-top: 2.5rem;
  }
  .contact-persons__department + .contact-persons__department {
    margin-top: 2rem;
  }
}
.contact-person__data {
  text-align: left;
}
.contact-person__name {
  margin-bottom: 0;
}
.contact-person__position {
  color: #757575;
  margin-bottom: 1em;
}
.contact-person__email,
.contact-person__phone {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contact-person__phone-prefix {
  font-size: 1em;
}
.side-content {
  background-color: #00068e;
  background-image: url(./../../_layout/_www/gradient-center.v1623415055067.svg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 75% 105vh;
  position: relative;
}
.page-layout--page .side-content {
  background-color: transparent;
}
.side-content:before {
  background-image: url(./../../_layout/_www/symbol-4.v1623414613379.svg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 67.5% auto;
  bottom: 0;
  content: "";
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: -7%;
  width: 100%;
}
.side-content .container {
  position: relative;
  z-index: 1;
}
.page-footer {
  background-color: #fff;
  color: #1923ff;
}
.ifc {
  overflow: hidden;
}
.ifc dl,
.ifc ul {
  margin: 0;
}
.ifc dd,
.ifc li {
  list-style: none;
  margin-left: 0;
}
.ifc dl + dl,
.ifc li + li {
  margin-top: 0.5em;
}
.ifc a {
  text-decoration: none;
}
.ifc a:not([href^="tel:"]):not(.button) {
  color: #1923ff;
}
.ifc a:focus,
.ifc a:hover {
  text-decoration: underline;
}
.ifc__items {
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: -1rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.ifc__item {
  color: #1923ff;
  font-size: 0.9375rem;
  max-width: 20%;
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: auto;
}
.ifc__title {
  color: #333;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.contacts__items {
  margin-bottom: -1.5rem;
}
.contacts__item {
  margin-bottom: 1.5rem;
  width: 100%;
}
.social-networks__items {
  margin: 0 -0.375rem -0.75rem;
}
.social-networks__item {
  margin-bottom: 0.75rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  width: auto;
}
.copyright {
  border-top: 1px solid #f2f2f2;
  color: #a3a3a3;
  overflow: hidden;
  padding-bottom: 2.25rem;
  padding-top: 2.25rem;
}
@media only screen and (max-width: 64em) {
  .copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.copyright a {
  color: inherit;
}
.items.copyright__items {
  align-items: center;
}
.item.copyright__item {
  display: inline-block;
  font-size: 0.875rem;
  width: auto;
}
.copyright__item--go-to-top {
  margin-left: auto;
  text-align: right;
}
.copyright__item--go-to-top a {
  box-sizing: content-box;
  display: inline-block;
  height: 12px;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  width: 20px;
}
.copyright__item--go-to-top a:before {
  background-image: url(./../../_layout/_www/arrow-5.v1623282965629.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px 12px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-image 125ms;
  width: 100%;
}
.copyright__item--go-to-top a:hover:before {
  background-image: url(./../../_layout/_www/arrow-6.v1623283000161.svg);
}
