html {
  font-family: Roboto Condensed;
}

body {
  margin: 0;
  padding: 0;
  z-index: -5;
}

.body-content {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
}

.body-background {
  width: 100%;
  background-color: lightgrey;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &--benefits {
    background-image: url("why-us.jpg");
  }

  &--articles {
    background-image: url("gradient-right.svg");
    background-color: rgb(28, 0, 149);
    background-repeat: round;
  }

  &--moreInfo {
    background-color: rgba(17, 25, 216, 1);
    margin-top: 5rem;
  }

  &--map {
    background-image: url("map.svg");
    padding: 2rem;
    background-size: contain;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center right;
  }

  &--footer {
    background-color: white;
  }

  &--offering {
    background-color: rgb(0, 255, 22);
  }

  &--header1 {
    width: 100%;
    box-sizing: border-box;
    background-image: url("why-us.jpg");
    background-repeat: no-repeat;
  }

  &--whoarewe {
    background-color: rgb(20, 23, 212);
    background-image: url("tracking.jpg");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position-x: +900px;
    background-position-y: +100px;
  }

  &--header {
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
  }

  &--split {
    background-color: white;
  }
}

.contact-page {
  background-color: #1923ff;
}

.buttons {
  border: 2px solid rgb(23, 212, 23);
  padding: 0.7rem;
  border-radius: 8% 8% 8% 8%;
  font-weight: 640;
  margin-left: 3rem;
  color: rgb(23, 212, 23);
  text-decoration: none;

  &--or {
    border: 2px solid rgb(23, 212, 23);
    padding: 0.7rem;
    border-radius: 8% 8% 8% 8%;
    font-weight: 640;
    margin-left: 3rem;
    color: rgb(23, 212, 23);
    text-decoration: none;
  }

  &--or::before {
    content: "";
    background-image: url("dokument.svg");
    width: 20px;
    display: inline-block;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 1rem;
  }

  &--insurance {
    border: 2px solid rgb(23, 212, 23);
    padding: 0.7rem;
    border-radius: 8% 8% 8% 8%;
    font-weight: 640;
    margin-left: 3rem;
    color: rgb(23, 212, 23);
    text-decoration: none;
  }

  &--insurance::before {
    content: "";
    background-image: url("dokument.svg");
    width: 20px;
    display: inline-block;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 1rem;
  }

  &__links-info {
    border: 2px solid rgb(23, 212, 23);
    padding: 0.7rem;
    border-radius: 5% 5% 5% 5%;
    font-weight: 900;
    margin-left: 3rem;
    color: #1923ff;
    font-size: 15px;
    background-color: rgb(23, 212, 23);
    display: flex;
    align-items: center;
  }

  &--contactSend {
    border: 2px solid rgb(23, 212, 23);
    padding: 0.7rem;
    border-radius: 8% 8% 8% 8%;
    font-weight: 640;
    color: rgb(23, 212, 23);
    text-decoration: none;
    margin-right: 40rem;
  }
}

.buttons__links-info--1::before {
  content: "";
  background-image: url(" ico-package.svg ");
  width: 30px;
  display: inline-block;
  background-size: contain;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.8rem;
}

.buttons__links-info--2::before {
  content: "";
  background-image: url(" ico-truck.svg ");
  width: 30px;
  display: inline-block;
  background-size: contain;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.8rem;
}

article {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 5rem;
  padding-top: 1rem;

  &__heading {
    margin: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  &__heading1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
  }

  &__text {
    margin: 1rem;
    height: 72px;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1rem;
  }

  &__sign {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  .containerFirst {
    height: 200px;
    background-color: white;
  }

  .heading {
    display: flex;
    flex-wrap: wrap;
  }
}

.pisemeblog::before {
  content: url("symbol.svg");
  display: flex;
  margin-top: 1.8rem;
  margin-right: 1rem;
}

.pisemeblog {
  display: flex;
}

.arts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.articles-header {
  position: relative;
  display: flex;

  &__pic {
    width: 350px;
    display: flex;
  }

  &__classes {
    position: absolute;
    display: flex;
    left: 10px;
    bottom: 0px;
  }

  &__date {
    position: absolute;
    display: flex;
    right: 0px;
    top: -18px;
    background-color: rgba(0, 255, 0, 1);
    padding: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
  }

  &__class {
    color: white;
    display: flex;
    border: 1px solid white;
    padding: 5px;
    font-size: 10px;
    margin: 8px;
    background-color: grey;
  }
}

.viceClankuBtn {
  display: flex;
  justify-content: center;
}

.EU-mappp::before {
  content: url("symbol.svg");
  display: flex;
  margin-top: 1.8rem;
  margin-right: 1rem;
}

.EU-mappp {
  display: flex;
}

.EU-map {
  display: flex;
  flex-direction: row;
  width: 1000px;
  background-size: contain;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: left;

  &__text {
    color: white;
    font-size: 2rem;
    z-index: 1;
  }

  &__label {
    color: white;
    font-size: 1.2rem;
  }

  &__pic {
    float: right;
    width: 80%;
    z-index: 0;
  }

  &__textPart {
    width: 800px;
  }
}

.benefits__logo {
  display: flex;
}

.more-info {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    color: white;
    font-size: 40px;
  }

  &__buttons {
    display: flex;
  }
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 5rem;

  &__header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  &__links {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1923ff;
    list-style: none;
  }
}

.kdooo {
  display: flex;
}

.kdooo::before {
  display: flex;
  content: url("symbol.svg");
  margin-top: 7.5rem;
  margin-right: 1rem;
}

.links-info__list {
  list-style: none;
  margin-left: -5rem;
}

.vyhodyyy {
  display: flex;
}

.vyhodyyy::before {
  content: url("symbol.svg");
  margin-top: 2.6rem;
  margin-right: 1rem;
}

.benefits {
  display: flex;
  padding-bottom: 9rem;
  margin-top: 6rem;
  justify-content: space-between;
  align-items: flex-end;
}

.benefits__logo--pic {
  width: 400px;
  display: flex;
  position: relative;
  bottom: -100px;
}

.benefits-list {
  width: 400px;

  &__heading {
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
  }

  &__lists {
    margin-bottom: 2.5rem;
    margin-left: 0rem;
  }

  &__list {
    font-size: 18px;
    line-height: 24px;
    color: white;
    list-style: none;
    position: relative;
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    right: -4rem;
    text-align: start;
  }

  &__lists::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    margin-left: -2em;
    border-radius: 20% 20% 0%;
    border: 3px solid rgb(0, 255, 22);
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 26px;
    padding: 0.4rem 0.8rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    position: absolute;
    min-height: 1rem;
  }
}

.offering {
  display: flex;
  color: rgba(25, 35, 255, 1);
  justify-content: space-around;

  &__senders {
    display: flex;
    flex-direction: column;
    background-image: url("ico-package.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right bottom;
    background-position-x: +430px;
    background-position-y: +100px;
    width: 50%;
    border-right: 2px solid black;
  }

  &__carrier {
    display: flex;
    flex-direction: column;
    background-image: url("ico-truck.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right bottom;
    background-position-x: +40s0px;
    background-position-y: +90px;
    width: 50%;
    margin-left: 3rem;
  }

  &__offering {
    width: 97px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  &__for {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 450px;
    margin-bottom: 3rem;
    margin-top: 0.5;

    &--2 {
      width: 408px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 3rem;
      margin-top: 0.5;
    }
  }
}

.who-we-are {
  display: flex;
  color: white;
  margin-bottom: 15rem;
  background-image: url("gradient-right.svg");
}

.first-section {
  display: flex;
  flex-direction: column;
  width: 37%;

  &__text {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    margin-top: 0;
  }

  &__heading {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin-top: 7rem;
  }
}

.section1_img {
  &__2 {
    width: 50%;
    position: relative;
    right: -130px;
    bottom: -370px;
  }
}

.second_section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.first-section__button {
  display: flex;
  margin-top: 2rem;
  margin-left: -3rem;
}

.co-group {
  display: flex;
  width: 1200px;
  margin-bottom: 7rem;
  justify-content: space-between;

  &__logo {
    width: 180px;
    display: flex;
    justify-content: space-between;
  }
}

.header__menu {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 0.9rem;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}

.header_links {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  width: 14rem;
  height: 4rem;
  align-items: center;
}

li {
  margin-left: 2.5rem;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  display: inline-flex;
  padding-left: 0rem;
  font-weight: 350;
}

.rrr {
  color: rgb(28, 243, 28);
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: fit-content;
}

.DS {
  display: flex;
  font-size: 4.5rem;
  font-weight: 900;
  flex-direction: column;
  color: white;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.loginBtn {
  border: 2px solid rgb(23, 212, 23);
  padding: 0.7rem;
  border-radius: 8% 8% 8% 8%;
  font-weight: 640;
  margin-left: 3rem;
  color: rgb(23, 212, 23);
}

.BL {
  color: rgb(28, 243, 28);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0rem;

  &__text {
    width: 30%;
    font-size: 20px;
    color: white;
    padding-bottom: 10rem;
  }
}

.dropbtn {
  display: flex;
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-self: center;
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 18px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.section-split {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  width: 1210px;
  justify-content: space-evenly;
  padding: 2rem;
}
.section_split__text {
  font-weight: 600;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;

  &--text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00ff00;
  }

  &--data {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 49px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #ffffff;
  }

  &--btn {
    display: flex;
    padding-top: 7rem;
    justify-content: center;
    padding-bottom: 7rem;
  }
}

.offices {
  display: flex;
  width: auto;
  border: 5px solid white;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
  justify-content: space-evenly;

  &-text {
    padding-bottom: 2rem;
  }

  &-text::before {
    content: "";
    background-image: url("R.svg");
    width: 40px;
    display: inline-block;
    background-size: contain;
    background-position-x: -rem;
    height: 40px;
    background-repeat: no-repeat;
  }

  &-pardubice {
    padding-left: 2rem;
  }

  &-office {
    padding-left: 8rem;
  }

  &-btn {
    border: 2px solid rgba(25, 35, 255, 1);
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
  }
  &-btn::before {
    content: "";
    background-image: url("Vector4.svg");
    width: 20px;
    display: inline-block;
    background-size: contain;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 1rem;
  }
}

.contact-documents {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  color: white;
}

.contact-box {
  display: flex;
  padding: 4rem 0rem 4rem 1rem;
  justify-content: space-between;
}

.contact-formula {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: white;

  &--name {
    color: white;
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
  }

  &--name::before {
    content: url("symbol.svg");
  }

  &--text {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
  }
}

.contact-type {
  display: flex;
  flex-direction: column;

  &--nameSurname {
    //nedelat v % ale radsi calc(), tyto řádky se opakují -> udělat na to jeden class

    width: 50%;
    height: 12%;
    border: 2px solid white;
    background-color: transparent;
  }

  &--yourEmail {
    width: 50%;
    height: 12%;
    border: 2px solid white;
    background-color: transparent;
  }

  &--yourNote {
    width: 700px;
    height: 150px;
    background-color: transparent;
    border: 2px solid white;
  }
}

.addFile {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.contacts-box {
  display: flex;
  background-color: white;
  flex-direction: column;

  &--name {
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  &--ceo {
    background-color: limegreen;
    font-weight: 500;
    font-size: 15px;
    width: 18%;
    margin-top: 0rem;
  }

  &--number {
    margin-top: 0rem;
    font-weight: 500;
    font-size: 15px;
  }

  &--email {
    font-weight: 500;
    font-size: 15px;
    text-decoration-line: underline;
    color: #1923ff;
  }

  &--all {
    font-weight: 800;
    font-size: 40px;
    color: white;
  }
  &--all::before {
    content: url("symbol.svg");
  }
}

.contacts-boxes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: transparent;
  padding: 1rem;
}
.contacts-box1 {
  //height: 12rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid white;
  height: auto;
  background-image: url("user.svg");
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position: top right;
  background-position-x: 160px;
  background-position-y: 20px;
}
